name: Docker Image CI

on:
  push:
    branches: [ "main-sp2" ]
  pull_request:
    branches: [ "main-sp2" ]

jobs:

  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Copy the .env file
        run: cp /var/www/sp2-api/.env.production /var/www/sp2-api/_work/sp2-api/sp2-api/.env
      - name: Build the Docker image
        run: docker compose down && docker compose up -d

